
<h1 class="titulo">Lista de envíos</h1>

<div class="card-container">
<mat-card *ngFor="let item of envios" class="example-card">
  <div class="contenedor">
  <mat-card-header>
    <img mat-card-image src="{{item.imagen}}" alt="{{item.nombre}}" class="example-header-image">
  </mat-card-header>
  <mat-card-content class="content-right">

    <mat-card-title>{{item.nombre}}</mat-card-title>
    <div class ="informacion">
    <p>{{item.descripcion}}</p>
    <p><strong>Vendor: </strong>{{item.vendedor}}</p>
    <p><strong>Talla: </strong>{{item.talla}}</p>
    <p><strong>Fecha de Entrega: </strong> {{item.fechaEntrega}}</p>
    <p><strong>Seguimiento: </strong> {{item.seguimento}}</p>
    <p><strong>Dirección: </strong> {{item.direccion}}</p>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button [routerLink]="['/details']">Ir a publicacion</button>
  </mat-card-actions>
  </div>
</mat-card>
</div>
