.example-element-detail {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  padding: 20px; /* Ajusta el valor según sea necesario */
}

.example-element-diagram,
.example-element-description {
  margin-bottom: 10px; /* Espacio entre los elementos */
}

.mat-header-cell {
  font-size: 40px; /* Tamaño de fuente deseado */
}

.example-element-weight {
  margin-bottom: 10px; /* Espacio entre los elementos */
}

.expand-cell {
  text-align: center; /* Alinea el botón en el centro */
}

.expanded-content {
  display: flex;
  align-items: flex-start; /* Alinea los elementos verticalmente al inicio */
}

.image-container {
  margin-right: 20px; /* Margen a la derecha de la imagen */
}

.details-container {
  flex: 1; /* Ocupa el espacio restante */
}

.title { /*PANTERA ROSA*/
  padding-top:20px;
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: left; /* Alinear el texto a la izquierda */
}


.description {
  font-size:20px;
  margin-top: 30px; /* Espacio entre el título y la descripción */
}

.price {
  font-size:20px;
  margin-top: 50px; /* Espacio entre la descripción y el precio */
}

.ratings-container {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a los extremos */
  margin-top: 60px; /* Espacio entre el precio y la valoración */
  font-size:20px;
}

.title-above-image {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px; /* Espacio entre el texto y la imagen */
}

.id-container {
  display: flex;
  align-items: center;
}

.id-container span {
  margin-right: 5px; /* Espacio entre "ID:" y el valor de ID */
}

.id-label {
  font-size: 18px; /* Tamaño de la fuente para el texto "ID: " */
  padding:40px;
  margin-right: 30px; /* Espacio entre "ID:" y el valor de ID */
}

.product-title {
  font-size: 20px; /* Tamaño de fuente deseado */
  /* Otros estilos opcionales */
}
.buy-now-button {
  display: block;
  margin: 20px auto; /* Centrar horizontalmente y agregar espacio arriba y abajo */
  font-size: 20px; /* Tamaño de fuente */
  padding: 50 px 30px; /* Padding interno (más espacio arriba y abajo) */
  border: 2px solid #333; /* Borde de 2px sólido de color gris oscuro */
  border-radius: 40px; /* Borde redondeado */
}
.rate-count{
  padding-top:30px;
  font-size:15px;
}

.image-container img {
  max-width: 500; /* Ancho máximo de la imagen */
  max-height: 500px; /* Altura máxima de la imagen */
}

.category { /*PANTERA ROSA*/
  padding-top:20px;
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: left; /* Alinear el texto a la izquierda */
}
