<h2>Registro</h2>
<form (ngSubmit)="register()">
  <label for="email">Correo electrónico:</label>
  <input type="email" id="email" [(ngModel)]="email" name="email" required>

  <div class="form-group">
    <label for="username">Nombre de usuario:</label>
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username">
  </div>

  <label for="password">Contraseña:</label>
  <input type="password" id="password" [(ngModel)]="password" name="password" required>

  <label for="confirmPassword">Confirmar Contraseña:</label>
  <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>

  <button type="submit">Registrarse</button>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>

  <div>
    <p>¿Ya tienes cuenta? <a [routerLink]="['/login']">Inicia Sesion</a></p>
  </div>
</form>
