
<h1 class="main-title">Productos para ti</h1>
<div class="button-container">
  <h2>Unete a nosotros</h2>
  <button mat-raised-button routerLink="/product-form">Publicar Prenda</button>
</div>
<div class="product-list">
  <div class="product-card-list">
    <ng-container *ngFor="let product of filteredProducts">
      <mat-card class="product-card" style="border: none;">
        <div class="card-content">
          <div class="image-container">
            <img [src]="product.image" [alt]="product.title">
          </div>
          <div class="info-container">
            <h2 class="title" [routerLink]="['/details']">{{product.title}}</h2>
            <p class="product-description">{{product.description}}</p>
            <div class="price-rating">
              <p class="price">S/.{{product.price}}</p>
              <p class="rating">{{product.rating}}/5</p>
            </div>

            <button mat-raised-button class="button-cart-container"(click)="addToCart(product)">Agregar al Carrito</button>
          </div>
        </div>
      </mat-card>
      <span class="cart-count">{{ cartItemCount }}</span>

    </ng-container>
  </div>
</div>

