mat-card-title{
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

mat-card-subtitle{
  margin-top: 50px;
  margin-bottom: 50px;
}

mat-card-subtitle{
  font-size: 30px;
}

mat-card-title-group div{
  width: 40%;
}

button {
  position: relative;
  top: 35%;
}

.purchase-card {
  text-align:left;
  max-width: 100%;
  margin-top: 15px;
}

.item-card{
  padding-left: 5%;
  padding-right: 5%;
}

.item-image{
  width: 15%;
}

.title{
  font-size: 50px;
  margin: 40px 100px;
}

.purchase-header{
  background-color: #8af6f6;
  width: 85%;
  padding-top: 0px;
  margin: 0 5% 0 5%;
}
