<div class="title">Pagos Realizados</div>
<hr>
<div *ngFor="let purchase of purchases" class="purchase-card">
  <mat-card>
    <mat-card-header class="purchase-header">
        <div>
          <mat-card-title>ID: {{purchase.id}}</mat-card-title>
          <mat-card-title>Total: S/. {{purchase.total}}</mat-card-title>
        </div>
        <br>
    </mat-card-header>
        <mat-card *ngFor="let item of purchase.items" class="item-card">
          <mat-card-header>
            <mat-card-title-group>
              <img alt ="{{item.name}}}" src="{{item.logo}}" class="item-image">
              <div>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-title>S/.{{item.price}}</mat-card-title>
              </div>
            </mat-card-title-group>
          </mat-card-header>
          <div style="background-color: #98db8c; width: 100%; height: 5px"></div>
        </mat-card>
  </mat-card>
</div>
