
<div class="publici">
  <img mat-card-image src="https://i.ibb.co/xHPnffP/image-20.png" class="imag-publi">
</div>

<div class="seccion-titulo">

  <h1 class="titulo-publicaciones">Mejor puntuacion</h1>
  <div class="underline-rectangle"></div>
  <button mat-raised-button routerLink="/product-form">Publicar prenda</button>
</div>


<div class="publicaciones">

  <mat-card *ngFor="let item of publicaciones" class="example-card">
    <img mat-card-image [routerLink]="['/details']" src="{{item.image}}"  class="example-header-image">
  </mat-card>

</div>

<div class="seccion-titulo">
  <h1 class="titulo-publicaciones">Novedades</h1>
  <div class="underline-rectangle"></div>
</div>

<div class="publicaciones">

  <mat-card *ngFor="let item of publicaciones" class="example-card">
    <img mat-card-image src="{{item.image}}"  class="example-header-image">
  </mat-card>

</div>

<div class="seccion-titulo">
  <h1 class="titulo-publicaciones">Formal</h1>
  <div class="underline-rectangle"></div>
</div>
