.publicaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.publici {
  display: flex;
  justify-content: center;
  align-items: center;
      margin-bottom: 50px;

}

.seccion-titulo {
  position: relative;
  transform: translate(-50%, 0);
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.imag-publi{

  width: 1448px;
  height: 144px;

}

.example-card {
    margin-right: 130px;

}

.example-header-image{
  padding:0px;

  width: 200px;
  height: 170px;
}


.titulo-publicaciones {
  text-align: left;
  margin-bottom: 10px;
    font-family: "M plus regular", sans-serif;
    font-size: 45px;
}
.underline-rectangle {
  width: 350px;
  height: 5px;
  background-color: #87BB66;
  margin-top: 5px;
}




