<div class="container">
  <h2>Categorías Favoritas</h2>
  <ul>
    <li *ngFor="let category of favoriteCategories">
      <h3>ID: {{ category.id }}</h3>
      <p><strong>Nombre:</strong> {{ category.category_name }}</p>
      <p><strong>Tipo:</strong> {{ category.category_type }}</p>
      <p><strong>Precio:</strong> {{ category.price_range }}</p>
      <p><strong>Descripción:</strong> {{ category.description }}</p>
      <p><strong>Valoración:</strong> {{ category.rate }}</p>
      <p><strong>Imagen URL:</strong> <img *ngIf="category.image2" [src]="category.image2" alt="Imagen de la categoría"></p>
      <p><strong>Favorito:</strong> {{ category.isFavorite ? 'Sí' : 'No' }}</p>
    </li>
  </ul>
</div>
