<!-- Authentication Section information content depends on signed-in status -->
<div *ngIf="isSignedIn; then authenticated else anonymous"></div>
<!-- Authenticated Scenario  Information and Available Actions -->
<ng-template #authenticated>
  <span class = "sign-buttons" class="mat-body"> Welcome, {{ currentUserName }}</span> | <button class = "sign-buttons" mat-button (click)="onSignOut()">Sign Out</button>
</ng-template>
<!-- Anonymous Scenario Available Actions -->
<ng-template #anonymous>
  <button class = "sign-buttons" mat-button (click)="onSignIn()">Sign In</button> | <button class = "sign-buttons" mat-button (click)="onSignUp()">Sign Up</button>
</ng-template>
