<div class="container">
  <form class="form-container" [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <label>
      <h2>Image URL:</h2>
      <input type="text" formControlName="image">
    </label>
    <label>
      <h2>Title:</h2>
      <input type="text" formControlName="title">
    </label>
    <label>
      <h2>Description:</h2>
      <textarea formControlName="description"></textarea>
    </label>
    <label>
      <h2>Price:</h2>
      <input type="number" formControlName="price">
    </label>
    <label>
      <h2>Rating:</h2>
      <input type="number" formControlName="rating" min="1" max="5">
    </label>
    <button type="submit">Guardar producto</button>
    <div *ngIf="submitted && productForm.invalid" class="error-message">
      Por favor, completa correctamente todos los campos del formulario.
    </div>
  </form>
</div>
