<div class="card-container">
  <div *ngFor="let item of cartItems" class="card">
    <img [src]="item.image" class="card-img-top" alt="{{ item.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-price">Precio: S/. {{ item.price }}</p>
      <input type="number" [(ngModel)]="item.quantity" min="1" (input)="updateQuantity(item.id, item.quantity)">
      <button class="btn btn-danger" mat-raised-button (click)="removeFromCart(item.id)">Eliminar</button>
    </div>
  </div>
</div>
<button class="card-total"  mat-raised-button  >Pagar: S/. {{ calculateTotal() }}</button>
